.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar {
  position: relative;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar::before {
  content:'';
  background: url('./images/backgrounds/yasi_navbar_pic.jpeg') no-repeat center center;
  position: absolute;
  top:0px;
  left: 0px;
  width:100%;
  height:100%;
  z-index:-1;
  opacity: 0.55; 
  background-size:cover
}
.navbarContent {
  padding: 6px;
  margin-left: 10px;
}

.imageContent {
  position:relative;
}

.imageContent::before {
  content:'';
  background: url('./images/backgrounds/yasi_index_pantry_pic.jpeg') no-repeat center center;
  position: absolute;
  top:0px;
  left: 0px;
  width:100%;
  height:100%;
  z-index:-1;
  opacity: 0.55; 
  background-size:cover
}

.formTable {
  width:25%;
  text-align: left;
}

.centerContent {
  margin: auto;
  width: 75%;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.fitImageToPage {
  align-content: center;
  height: 500px;
  width:100%; 
}

.errorStatusMessage {
  color: red;
}

.validStatusMessage {
  color: green;
}

.userTable {
  width: 100%;
}
